$cardHeight: 336px;

.card {
  border: 1px solid black;
  max-width: 264px;
  height: $cardHeight;
  border-radius: 8px;
  position: relative;

  img {
    height: 160px;
    width: 100%;
  }

  &_text-section {
    height: $cardHeight - 160px - 24px;
    padding-top: 24px;
    padding-left: 9.09%;

    p {
      font-size: 18px;
      font-weight: bolder;
      line-height: 26px;
      margin: 0px;
    }
    ul {
      list-style: none;
      padding-left: 0px;

      li {
        span {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
