main {
  padding: 48px 80px;
  position: relative;

  .search-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    &__icon {
      height: 15px+38px+2px;
      position: absolute;
      display: flex;
      align-items: center;
      padding-left: 32px;
    }

    input {
      padding: 19px 32px 19px 74px;
    }

    select {
      padding: 18px 74px 18px 24px;
    }
  }

  .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5.58%;
    row-gap: 75px;
  }
}
